<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>Document</title>
  </head>
  <body>
    <%- include('./partials/nav') %>
   
    <div class="container">
        <h1>your blogs are ,</h1>
       
        <div class="row">
          <% usersBlog.forEach(blog => { %>
          <div class="col-6 col-md-4">
            <div class="card mt-3" style="width: 18rem">
              <img
                src="<%= blog.coverImageUrl %>"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title"><%= blog.title %></h5>
                <p class="card-text"><%= blog.body %></p>
                <a href="/blog/<%= blog._id %>" class="btn btn-primary">view</a>
              </div>
            </div>
          </div>
          <% }) %>
        </div>
      </div>

    <%- include("./partials/script") %>
  </body>
</html>
